.footer {
  margin: 20px;
  display: flex;
  font-size: 0.75em;
  color: #fff;

  & * {
    margin-left: 10px;
    margin-right: 10px;
  }

  & p a {
    margin: 0;
  }

  @media (max-width: 660px) {
    & {
      margin: 5px;
    }
  }
}