@import "../_colors";

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & img {
    width: 400px;
    position: relative;
    object-fit: cover;
    margin: 2px;
    border: 1px solid $borderColor;
  }

  & iframe {
    width: 400px;
    position: relative;
    height: 250px;
    margin: 2px;
    border: 1px solid $borderColor;
  }

  @media (max-width: 1024px) {
    & {
      & img {
        width: 32%;
      }
    }
  }

  @media (max-width: 650px) {
    & {
      & img {
        width: 99%;
      }
    }
  }
}