@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700&display=swap&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Marck+Script&display=swap&subset=cyrillic,latin-ext");
@import url("/Product Sans Bold.ttf");
@import url("/Product Sans Bold Italic.ttf");
@import url("/Product Sans Bold Italic.ttf");
@import url("/Product Sans Bold Regular.ttf");
@keyframes miniChangeOpacity {
  from {
    opacity: 1;
    top: 0; }
  50% {
    opacity: 0.1;
    top: 25px; }
  to {
    opacity: 1;
    top: 0; } }

html, body {
  height: 100%; }

* {
  margin: 0;
  padding: 0; }

#root {
  height: 100%; }

.app {
  height: 100%; }

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: relative;
  font-size: 2em;
  background-size: cover;
  background-attachment: fixed; }
  .header .body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(0, 0, 0, 0.4); }
  .header .video {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .header .body .arrowsSVG {
    width: 50px;
    animation: miniChangeOpacity 2s infinite ease-in-out;
    position: relative;
    display: block;
    fill: #fff; }
  .header .body .title {
    color: #fff;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    letter-spacing: -0.05em;
    margin-top: 3em; }
  .header .body .subtitle {
    font-size: 0.7em;
    color: #fff;
    text-align: center; }
  @media (max-width: 768px) {
    .header .body .title {
      font-size: 1.2em; } }

.topBar {
  height: max-content;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: #fff; }
  .topBar .menu {
    display: flex;
    width: 100%;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; }
    .topBar .menu a {
      font-size: initial !important;
      height: 40px;
      color: #fff;
      text-decoration: none;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 5px;
      padding-right: 5px; }
      .topBar .menu a:hover {
        color: #6d6d6d;
        text-decoration: #6d6d6d solid underline; }
      .topBar .menu a:focus {
        color: #6d6d6d;
        text-decoration: #6d6d6d solid underline; }
    .topBar .menu p.link {
      font-size: initial !important;
      height: 40px;
      color: #fff;
      text-decoration: none;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 5px;
      padding-right: 5px; }
      .topBar .menu p.link img {
        width: 1.5em; }
      .topBar .menu p.link:hover {
        color: #6d6d6d;
        text-decoration: #6d6d6d solid underline; }
      .topBar .menu p.link:focus {
        color: #6d6d6d;
        text-decoration: #6d6d6d solid underline; }
    .topBar .menu select {
      height: 20px;
      padding-left: 5px;
      padding-right: 5px;
      border: 0;
      font-size: initial !important;
      font-weight: bold;
      background: none;
      color: #fff; }
      .topBar .menu select:hover {
        color: #6d6d6d;
        text-decoration: #6d6d6d solid underline; }
      .topBar .menu select:active {
        color: #6d6d6d;
        text-decoration: #6d6d6d solid underline; }

.footer {
  margin: 40px;
  display: flex;
  font-size: 0.75em; }
  .footer * {
    margin-left: 10px;
    margin-right: 10px; }

.contactCard {
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  color: #000;
  border: 5px solid #000;
  width: max-content;
  margin: 5px; }
  .contactCard .mdi {
    margin-right: 5px; }
  @media (max-width: 660px) {
    .contactCard {
      width: 100%; } }

.miniArticles {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.article {
  width: 45%;
  border: 1px solid #000;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 20px; }
  .article .text {
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px; }
    .article .text .title {
      font-size: 1.2em;
      margin-bottom: 5px;
      text-align: left; }
  .article img {
    height: 245px;
    width: 100%;
    object-fit: cover;
    border-bottom: 1px solid #000; }
  @media (max-width: 680px) {
    .article {
      width: 100%; } }

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.flex-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .flex-gallery img {
    width: 400px;
    position: relative;
    height: 250px;
    object-fit: cover;
    margin: 2px;
    border: 1px solid #000; }
  .flex-gallery iframe {
    width: 400px;
    position: relative;
    height: 250px;
    margin: 2px;
    border: 1px solid #000; }
  @media (max-width: 1024px) {
    .flex-gallery img {
      width: 32%;
      height: 200px; }
    .flex-gallery iframe {
      width: 99%;
      height: 500px; } }
  @media (max-width: 650px) {
    .flex-gallery img {
      width: 99%;
      height: 350px; }
    .flex-gallery iframe {
      height: 350px; } }
  @media (max-width: 550px) {
    .flex-gallery img {
      height: 200px; }
    .flex-gallery iframe {
      height: 300px; } }
  @media (max-width: 435px) {
    .flex-gallery iframe {
      height: 200px; } }

.page {
  margin-top: 40px;
  padding-right: 15%; }
  .page .title {
    font-size: 1.5em;
    text-align: left !important;
    font-family: "Marck Script", sans-serif; }
  .page .subtitle {
    font-size: 1.3em;
    text-align: left !important;
    font-family: "Marck Script", sans-serif; }
  .page .block {
    margin: 40px; }
  @media (max-width: 947px) {
    .page {
      padding: 0; } }
  @media (max-width: 680px) {
    .page .block {
      margin-left: 10px;
      margin-right: 10px; } }

.fixedImage {
  padding-top: 100px;
  padding-bottom: 100px; }
  .fixedImage p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3em;
    text-align: center; }
  .fixedImage#fi-1 {
    background: url("https://i.pinimg.com/564x/96/f7/ae/96f7aec23b0b83638168934fbaf08513.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: #fff; }

* {
  outline: none;
  font-family: "Product Sans", sans-serif; }

body {
  background: #f1e9d2; }
  body .before {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("/instrument.png");
    z-index: -1;
    background-repeat: no-repeat;
    background-position-x: 115%; }
    @media (max-width: 947px) {
      body .before {
        display: none; } }

button {
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #000;
  padding: 5px 10px;
  background: none;
  margin: 2px;
  transition: all .3s; }
  button:hover {
    background: #6d6d6d;
    text-decoration: #6d6d6d solid underline;
    cursor: pointer; }
  @media (max-width: 660px) {
    button {
      width: 100%; } }

a {
  color: #000;
  text-decoration: none; }
  a:hover {
    color: #6d6d6d;
    text-decoration: #6d6d6d solid underline;
    cursor: pointer; }
  a:focus {
    color: #6d6d6d;
    text-decoration: #6d6d6d solid underline;
    cursor: pointer; }

pre {
  font-family: "Marck Script", sans-serif;
  width: 100%;
  white-space: pre-line;
  font-size: 1.2em; }
  pre .title {
    font-size: 1.3em;
    text-align: left !important;
    font-family: "Marck Script", sans-serif; }
  pre img {
    width: 100%; }

.mdi-reload {
  text-align: center; }

/*# sourceMappingURL=App.css.map */