@import "scss/_animations";
@import "scss/_reset";
@import "scss/_imports";
@import "scss/_components";
@import "scss/_pages";
@import "scss/_colors";

* {
  outline: none;
  font-family: "Noto Sans", sans-serif;
}

body {
  background: rgba(255, 254, 0, 0.3);
}

button {
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid $borderColor;
  padding: 5px 10px;
  background: none;
  margin: 2px;
  transition: all .3s;

  &:hover {
    background: $colorTextHover;
    text-decoration: $colorTextHover solid underline;
    cursor: pointer;
  }

  @media (max-width: 660px) {
    & {
      width: 100%;
    }
  }
}

a {
  color: #000;
  text-decoration: none;

  &:hover {
    color: $colorTextHover;
    text-decoration: $colorTextHover solid underline;
    cursor: pointer;
  }

  &:focus {
    color: $colorTextHover;
    text-decoration: $colorTextHover solid underline;
    cursor: pointer;
  }
}

.textBig {
  max-width: 100%;
  white-space: normal;
}